.icon-glass:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-users:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-child:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-download-cloud:before { content: '\e809'; } /* '' */
.icon-upload-cloud:before { content: '\e80a'; } /* '' */
.icon-code:before { content: '\e80b'; } /* '' */
.icon-comment:before { content: '\e80c'; } /* '' */
.icon-chat:before { content: '\e80d'; } /* '' */
.icon-doc-text:before { content: '\e80e'; } /* '' */
.icon-file-pdf:before { content: '\e80f'; } /* '' */
.icon-doc-text-inv:before { content: '\e810'; } /* '' */
.icon-doc-inv:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-up-open:before { content: '\e815'; } /* '' */
.icon-angle-left:before { content: '\e816'; } /* '' */
.icon-angle-right:before { content: '\e817'; } /* '' */
.icon-angle-up:before { content: '\e818'; } /* '' */
.icon-angle-down:before { content: '\e819'; } /* '' */
.icon-down-big:before { content: '\e81a'; } /* '' */
.icon-left-big:before { content: '\e81b'; } /* '' */
.icon-right-big:before { content: '\e81c'; } /* '' */
.icon-up-big:before { content: '\e81d'; } /* '' */
.icon-angle-double-left:before { content: '\e81e'; } /* '' */
.icon-angle-double-right:before { content: '\e81f'; } /* '' */
.icon-angle-double-up:before { content: '\e820'; } /* '' */
.icon-angle-double-down:before { content: '\e821'; } /* '' */
.icon-down:before { content: '\e822'; } /* '' */
.icon-left:before { content: '\e823'; } /* '' */
.icon-right:before { content: '\e824'; } /* '' */
.icon-up:before { content: '\e825'; } /* '' */
.icon-flight:before { content: '\e826'; } /* '' */
.icon-fighter-jet:before { content: '\e827'; } /* '' */
.icon-paper-plane:before { content: '\e828'; } /* '' */
.icon-paper-plane-empty:before { content: '\e829'; } /* '' */
.icon-road:before { content: '\e82a'; } /* '' */
.icon-cab:before { content: '\e82b'; } /* '' */
.icon-taxi:before { content: '\e82c'; } /* '' */
.icon-truck:before { content: '\e82d'; } /* '' */
.icon-bus:before { content: '\e82e'; } /* '' */
.icon-bicycle:before { content: '\e82f'; } /* '' */
.icon-gauge:before { content: '\e830'; } /* '' */
.icon-coffee:before { content: '\e831'; } /* '' */
.icon-food:before { content: '\e832'; } /* '' */
.icon-beer:before { content: '\e833'; } /* '' */
.icon-ambulance:before { content: '\e834'; } /* '' */
.icon-smile:before { content: '\e835'; } /* '' */
.icon-frown:before { content: '\e836'; } /* '' */
.icon-meh:before { content: '\e837'; } /* '' */
.icon-thumbs-up:before { content: '\e838'; } /* '' */
.icon-thumbs-down:before { content: '\e839'; } /* '' */
.icon-basket:before { content: '\e83a'; } /* '' */
.icon-mic:before { content: '\e83b'; } /* '' */
.icon-hourglass:before { content: '\e83c'; } /* '' */
.icon-down-open-big:before { content: '\e83d'; } /* '' */
.icon-left-open-big:before { content: '\e83e'; } /* '' */
.icon-right-open-big:before { content: '\e83f'; } /* '' */
.icon-up-open-big:before { content: '\e840'; } /* '' */
.icon-monitor:before { content: '\e841'; } /* '' */
.icon-mobile:before { content: '\e842'; } /* '' */
.icon-globe:before { content: '\e843'; } /* '' */
.icon-network:before { content: '\e844'; } /* '' */
.icon-infinity:before { content: '\e845'; } /* '' */
.icon-mouse:before { content: '\e846'; } /* '' */
.icon-flash:before { content: '\e847'; } /* '' */
.icon-traffic-cone:before { content: '\e848'; } /* '' */
.icon-air:before { content: '\e849'; } /* '' */
.icon-vimeo-circled:before { content: '\e84a'; } /* '' */
.icon-twitter:before { content: '\e84b'; } /* '' */
.icon-facebook:before { content: '\e84c'; } /* '' */
.icon-facebook-circled:before { content: '\e84d'; } /* '' */
.icon-facebook-squared:before { content: '\e84e'; } /* '' */
.icon-gplus:before { content: '\e84f'; } /* '' */
.icon-gplus-circled:before { content: '\e850'; } /* '' */
.icon-pinterest:before { content: '\e851'; } /* '' */
.icon-pinterest-circled:before { content: '\e852'; } /* '' */
.icon-tumblr:before { content: '\e853'; } /* '' */
.icon-tumblr-circled:before { content: '\e854'; } /* '' */
.icon-linkedin:before { content: '\e855'; } /* '' */
.icon-linkedin-circled:before { content: '\e856'; } /* '' */
.icon-skype:before { content: '\e857'; } /* '' */
.icon-skype-circled:before { content: '\e858'; } /* '' */
.icon-home-outline:before { content: '\e859'; } /* '' */
.icon-home:before { content: '\e85a'; } /* '' */
.icon-info-outline:before { content: '\e85b'; } /* '' */
.icon-info:before { content: '\e85c'; } /* '' */
.icon-sort-numeric-outline:before { content: '\e85d'; } /* '' */
.icon-certificate-outline:before { content: '\e85e'; } /* '' */
.icon-certificate:before { content: '\e85f'; } /* '' */
.icon-looped-square-outline:before { content: '\e860'; } /* '' */
.icon-wrench:before { content: '\e861'; } /* '' */
.icon-steering-wheel:before { content: '\e862'; } /* '' */
.icon-key:before { content: '\e863'; } /* '' */
.icon-key-inv:before { content: '\e864'; } /* '' */
.icon-lock:before { content: '\e865'; } /* '' */
.icon-lock-empty:before { content: '\e866'; } /* '' */
.icon-lock-open:before { content: '\e867'; } /* '' */
.icon-lock-open-empty:before { content: '\e868'; } /* '' */
.icon-pencil:before { content: '\e869'; } /* '' */
.icon-pencil-neg:before { content: '\e86a'; } /* '' */
.icon-print:before { content: '\e86b'; } /* '' */
.icon-book-open:before { content: '\e86c'; } /* '' */
.icon-rss:before { content: '\e86d'; } /* '' */
.icon-rss-alt:before { content: '\e86e'; } /* '' */
.icon-cog:before { content: '\e86f'; } /* '' */
.icon-bat-empty:before { content: '\e870'; } /* '' */
.icon-bat-half:before { content: '\e871'; } /* '' */
.icon-bat-charge:before { content: '\e872'; } /* '' */
.icon-bat-full:before { content: '\e873'; } /* '' */
.icon-camera:before { content: '\e874'; } /* '' */
.icon-videocam-alt:before { content: '\e875'; } /* '' */
.icon-camera-1:before { content: '\e876'; } /* '' */
.icon-at:before { content: '\e877'; } /* '' */
.icon-zoom-in:before { content: '\e878'; } /* '' */
.icon-zoom-out:before { content: '\e879'; } /* '' */
.icon-clock:before { content: '\e87a'; } /* '' */
.icon-clock-alt:before { content: '\e87b'; } /* '' */
.icon-wrench-1:before { content: '\e87c'; } /* '' */
.icon-thumbs-up-1:before { content: '\e87d'; } /* '' */
.icon-thumbs-down-1:before { content: '\e87e'; } /* '' */
.icon-eye:before { content: '\e87f'; } /* '' */
.icon-aboveground-rail:before { content: '\e880'; } /* '' */
.icon-airfield:before { content: '\e881'; } /* '' */
.icon-airport:before { content: '\e882'; } /* '' */
.icon-bus-1:before { content: '\e883'; } /* '' */
.icon-bicycle-1:before { content: '\e884'; } /* '' */
.icon-belowground-rail:before { content: '\e885'; } /* '' */
.icon-fuel:before { content: '\e886'; } /* '' */
.icon-rail:before { content: '\e887'; } /* '' */
.icon-heliport:before { content: '\e888'; } /* '' */
.icon-ferry:before { content: '\e889'; } /* '' */
.icon-skiing:before { content: '\e88a'; } /* '' */
.icon-print-1:before { content: '\e88b'; } /* '' */
.icon-group-circled:before { content: '\e88c'; } /* '' */
.icon-megaphone:before { content: '\e88d'; } /* '' */
.icon-clipboard:before { content: '\e88e'; } /* '' */
.icon-twitter-1:before { content: '\e88f'; } /* '' */
.icon-shop:before { content: '\e890'; } /* '' */
.icon-cog-1:before { content: '\e891'; } /* '' */
.icon-params:before { content: '\e892'; } /* '' */
.icon-money:before { content: '\e893'; } /* '' */
.icon-truck-1:before { content: '\e894'; } /* '' */
.icon-star:before { content: '\e895'; } /* '' */
.icon-mail-1:before { content: '\e896'; } /* '' */
.icon-search-1:before { content: '\e897'; } /* '' */
.icon-database:before { content: '\e898'; } /* '' */
.icon-doc:before { content: '\e899'; } /* '' */
.icon-calendar:before { content: '\e89a'; } /* '' */
.icon-photo:before { content: '\e89b'; } /* '' */
.icon-camera-2:before { content: '\e89c'; } /* '' */
.icon-cog-2:before { content: '\e89d'; } /* '' */
.icon-cog-alt:before { content: '\e89e'; } /* '' */
.icon-wrench-2:before { content: '\e89f'; } /* '' */
.icon-sliders:before { content: '\e8a0'; } /* '' */
.icon-lightbulb:before { content: '\e8a1'; } /* '' */
.icon-asterisk:before { content: '\e8a2'; } /* '' */
.icon-cc-visa:before { content: '\e8a3'; } /* '' */
.icon-cc-mastercard:before { content: '\e8a4'; } /* '' */
.icon-fax:before { content: '\e8a5'; } /* '' */
.icon-phone:before { content: '\e8a6'; } /* '' */
.icon-tty:before { content: '\e8a7'; } /* '' */
.icon-phone-1:before { content: '\e8a8'; } /* '' */
.icon-phone-2:before { content: '\e8a9'; } /* '' */
.icon-folder:before { content: '\e8aa'; } /* '' */
.icon-archive:before { content: '\e8ab'; } /* '' */
.icon-minus-squared:before { content: '\e8ac'; } /* '' */
.icon-minus-circled:before { content: '\e8ad'; } /* '' */
.icon-plus-squared:before { content: '\e8ae'; } /* '' */
.icon-plus-circled:before { content: '\e8af'; } /* '' */
.icon-cancel-circled:before { content: '\e8b0'; } /* '' */
.icon-cancel-squared:before { content: '\e8b1'; } /* '' */
.icon-left-open-mini:before { content: '\e8b2'; } /* '' */
.icon-right-open-mini:before { content: '\e8b3'; } /* '' */
.icon-up-open-mini:before { content: '\e8b4'; } /* '' */
.icon-right-1:before { content: '\e8b5'; } /* '' */
.icon-up-1:before { content: '\e8b6'; } /* '' */
.icon-down-outline:before { content: '\e8b7'; } /* '' */
.icon-left-outline:before { content: '\e8b8'; } /* '' */
.icon-right-outline:before { content: '\e8b9'; } /* '' */
.icon-up-outline:before { content: '\e8ba'; } /* '' */
.icon-left-small:before { content: '\e8bb'; } /* '' */
.icon-up-small:before { content: '\e8bc'; } /* '' */
.icon-down-small:before { content: '\e8bd'; } /* '' */
.icon-right-small:before { content: '\e8be'; } /* '' */
.icon-play:before { content: '\e8bf'; } /* '' */
.icon-stop-outline:before { content: '\e8c0'; } /* '' */
.icon-stop:before { content: '\e8c1'; } /* '' */
.icon-pause-outline:before { content: '\e8c2'; } /* '' */
.icon-pause:before { content: '\e8c3'; } /* '' */
.icon-fast-fw-outline:before { content: '\e8c4'; } /* '' */
.icon-fast-fw:before { content: '\e8c5'; } /* '' */
.icon-rewind-outline:before { content: '\e8c6'; } /* '' */
.icon-rewind:before { content: '\e8c7'; } /* '' */
.icon-record-outline:before { content: '\e8c8'; } /* '' */
.icon-record:before { content: '\e8c9'; } /* '' */
.icon-plug:before { content: '\e8ca'; } /* '' */
.icon-desktop:before { content: '\e8cb'; } /* '' */
.icon-laptop:before { content: '\e8cc'; } /* '' */
.icon-tablet:before { content: '\e8cd'; } /* '' */
.icon-mobile-1:before { content: '\e8ce'; } /* '' */
.icon-popup:before { content: '\e8cf'; } /* '' */
.icon-to-start:before { content: '\e8d0'; } /* '' */
.icon-to-end:before { content: '\e8d1'; } /* '' */
.icon-eject:before { content: '\e8d2'; } /* '' */
.icon-mobile-2:before { content: '\e8d3'; } /* '' */
.icon-moon-inv:before { content: '\e8d4'; } /* '' */
.icon-cloud:before { content: '\e8d5'; } /* '' */
.icon-rain:before { content: '\e8d6'; } /* '' */
.icon-flash-1:before { content: '\e8d7'; } /* '' */
.icon-moon:before { content: '\e8d8'; } /* '' */
.icon-sun-inv:before { content: '\e8d9'; } /* '' */
.icon-sun:before { content: '\e8da'; } /* '' */
.icon-user-1:before { content: '\e8db'; } /* '' */
.icon-group:before { content: '\e8dc'; } /* '' */
.icon-torso:before { content: '\e8dd'; } /* '' */
.icon-search-2:before { content: '\e8de'; } /* '' */
.icon-search-circled:before { content: '\e8df'; } /* '' */
.icon-mail-2:before { content: '\e8e0'; } /* '' */
.icon-video-chat:before { content: '\e8e1'; } /* '' */
.icon-picture-1:before { content: '\e8e2'; } /* '' */
.icon-camera-3:before { content: '\e8e3'; } /* '' */
.icon-photo-1:before { content: '\e8e4'; } /* '' */
.icon-wrench-3:before { content: '\e8e5'; } /* '' */
.icon-cogs:before { content: '\e8e6'; } /* '' */
.icon-cog-circled:before { content: '\e8e7'; } /* '' */
.icon-cog-3:before { content: '\e8e8'; } /* '' */
.icon-wrench-circled:before { content: '\e8e9'; } /* '' */
.icon-calendar-1:before { content: '\e8ea'; } /* '' */
.icon-calendar-circled:before { content: '\e8eb'; } /* '' */
.icon-network-1:before { content: '\e8ec'; } /* '' */
.icon-inbox:before { content: '\e8ed'; } /* '' */
.icon-gauge-1:before { content: '\e8ee'; } /* '' */
.icon-dribbble-circled:before { content: '\e8ef'; } /* '' */
.icon-picture-outline:before { content: '\e8f0'; } /* '' */
.icon-picture-2:before { content: '\e8f1'; } /* '' */
.icon-camera-outline:before { content: '\e8f2'; } /* '' */
.icon-camera-4:before { content: '\e8f3'; } /* '' */
.icon-mail-3:before { content: '\e8f4'; } /* '' */
.icon-heart:before { content: '\e8f5'; } /* '' */
.icon-heart-filled:before { content: '\e8f6'; } /* '' */
.icon-star-1:before { content: '\e8f7'; } /* '' */
.icon-star-filled:before { content: '\e8f8'; } /* '' */
.icon-user-outline:before { content: '\e8f9'; } /* '' */
.icon-user-2:before { content: '\e8fa'; } /* '' */
.icon-users-outline:before { content: '\e8fb'; } /* '' */
.icon-users-1:before { content: '\e8fc'; } /* '' */
.icon-videocam-outline:before { content: '\e8fd'; } /* '' */
.icon-videocam:before { content: '\e8fe'; } /* '' */
.icon-video:before { content: '\e8ff'; } /* '' */
.icon-user-3:before { content: '\e900'; } /* '' */
.icon-user-male:before { content: '\e901'; } /* '' */
.icon-user-female:before { content: '\e902'; } /* '' */
.icon-users-2:before { content: '\e903'; } /* '' */